#Comentarios {
    resize: none;
}

.Creamos-form {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 2%;
}

.seguinos1 {
    .my-3 {
        font-size: medium;
    }
    &__instagram {
    a img{
        width: 25px;
        height: 25px;
    }
    }
}