@import 'principal';


$color1: white;
$color2: black;
$center: center;

/* TITULO PRODUCTOS */

.tituloproductos {
    display: flex;
    align-items: center;
    justify-content: center;
    & h2 strong {
        background-color: $color1;
        font-size: 60px;
        border: 3px solid $color2;
        border-radius: 20px;
        padding: 5px;
        color: $color2;
    }
    @media (max-width:767px) {
        & h2 strong  {
            font-size: 40px;
        }
    }
}

.productos1 {
    display: flex;
    align-items: $center;
    margin: 6vh 6vh;
    text-align: $center;
    padding-top: 5%;
    &__img {
        text-align: $center;
        img {
        background-color: rgba(91, 172, 122, 0.733);
        border: 1px solid $color2;
        border-radius: 30px;   
        width: 60%;
        height: 60%;
        border: solid $color2;
        }
    }
    &__img1 {
        img {
        background-color: rgba(91, 172, 122, 0.733);
        border: 1px solid $color2;
        border-radius: 30px;   
        width: 60%;
        height: 60%;         
        border: solid $color2;
    }
    }

    @media (max-width:767px) {
        &__img img {
            width: 90%;
            height: 90%;
        }
    }
    @media (max-width:767px) {
        &__img1 img {
            width: 90%;
            height: 90%;
        }
    }
}

.productos2 {
    display: flex;
    align-items: $center;
    margin: 6vh 6vh;
    text-align: $center;
    padding-top: 5%;
    &__img {
        text-align: $center;
        img {
        background-color: rgba(91, 172, 122, 0.733);
        border: 1px solid $color2;
        border-radius: 30px;   
        width: 60%;
        height: 60%;
        border: solid $color2;
        }
    }
    &__img2 {
        img {
        background-color: rgba(91, 172, 122, 0.733);
        border: 1px solid $color2;
        border-radius: 30px;   
        width: 60%;
        height: 60%;         
        border: solid $color2;
    }
    }

    @media (max-width:767px) {
        &__img img {
            width: 90%;
            height: 90%;
        }
    }
    @media (max-width:767px) {
        &__img2 img {
            width: 90%;
            height: 90%;
        }
    }
}


.productos3 {
    display: flex;
    align-items: $center;
    margin: 6vh 6vh;
    text-align: $center;
    padding-top: 5%;
    margin-bottom: 5%;
    &__img {
        text-align: $center;
        img {
        background-color: rgba(91, 172, 122, 0.733);
        border: 1px solid $color2;
        border-radius: 30px;   
        width: 60%;
        height: 60%;
        border: solid $color2;
        }
    }
    &__img3 {
        img {
        background-color: rgba(91, 172, 122, 0.733);
        border: 1px solid $color2;
        border-radius: 30px;   
        width: 60%;
        height: 60%;         
        border: solid $color2;
    }
    }

    @media (max-width:767px) {
        &__img img {
            width: 90%;
            height: 90%;
        }
    }
    @media (max-width:767px) {
        &__img3 img {
            width: 90%;
            height: 90%;
        }
    }
}

/* TITULO FOOTER */

@import 'footer';